<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coinBoxClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinBoxOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{60,0},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>coinBox.png</string>
            <key>size</key>
            <string>{160,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fed1b83d83d2c4c1c406487bc470cb6:ec88282b2bf071283a98019bd4bbfe4a:0a17894dcb17acaeebe7d260759fabe1$</string>
            <key>textureFileName</key>
            <string>coinBox.png</string>
        </dict>
    </dict>
</plist>
