<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bing_di_ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bing_di_ban2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bing_di_ban3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_barrier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{0,40},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,160},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_fence_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{0,240},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_huoju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,120}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{40,40},{40,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_muxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{80,40},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ice_basic_material.png</string>
            <key>size</key>
            <string>{120,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07297822e74efbd799c3eca32be5cea6:b4be109ea3ce8271cd42f2844c48bc39:c460fe7b0ca53ba407d6d0fceb8c1420$</string>
            <key>textureFileName</key>
            <string>ice_basic_material.png</string>
        </dict>
    </dict>
</plist>
