<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{0,140},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>info.png</string>
            <key>size</key>
            <string>{70,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6002ffef5805670289c74afcbcc65d6f:c63f76fd44ea1abae90ebb05229b255e:2f9b5bfb6f02f6e6340338b248159e03$</string>
            <key>textureFileName</key>
            <string>info.png</string>
        </dict>
    </dict>
</plist>
