<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_block_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_block_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{0,40},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>obstacles.png</string>
            <key>size</key>
            <string>{40,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e34585b13c216840985b16ca666e04c:614d5655cd85bfee18a4af0a05be5ac3:e239da905bb0b31c60e233c1e2b1bd7a$</string>
            <key>textureFileName</key>
            <string>obstacles.png</string>
        </dict>
    </dict>
</plist>
