<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>portal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{120,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{120,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,150}</string>
                <key>textureRect</key>
                <string>{{0,450},{120,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>portal.png</string>
            <key>size</key>
            <string>{120,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:669a18505874f79add93658b3eff0612:dda4a895654083b5dbadf1ca5da654c5:e4c47596fd83a77871a43204bcdead98$</string>
            <key>textureFileName</key>
            <string>portal.png</string>
        </dict>
    </dict>
</plist>
