<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,180}</string>
                <key>spriteSourceSize</key>
                <string>{400,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,180}</string>
                <key>spriteSourceSize</key>
                <string>{400,180}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>board.png</string>
            <key>size</key>
            <string>{800,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a14752b8aa3727920a1dd4e754c8726d:3d386f85663c4631215eab11bd1f6bde:a1c005c5c1cef0262ec56454ccaf41ae$</string>
            <key>textureFileName</key>
            <string>board.png</string>
        </dict>
    </dict>
</plist>
