<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bcakground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{40,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0de46aa34ab774d4825bed32aec8ed3:5fc3b9afd5ee4f91c6ae3b5b3bde022a:0efa5fec0be417390841f237bfdb917e$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
