<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bing_qiang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bing_qiang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>barrier_fence_ice.png</string>
            <key>size</key>
            <string>{80,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbc0f864700f50f3cb523c637a75dd9e:54ac39c9317db6684ad19e5afbba7ea4:e6fb2ece020a5b9ba2018cf1fff8c238$</string>
            <key>textureFileName</key>
            <string>barrier_fence_ice.png</string>
        </dict>
    </dict>
</plist>
