<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,184}</string>
                <key>spriteSourceSize</key>
                <string>{422,184}</string>
                <key>textureRect</key>
                <string>{{0,0},{422,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,184}</string>
                <key>spriteSourceSize</key>
                <string>{422,184}</string>
                <key>textureRect</key>
                <string>{{422,0},{422,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>board.png</string>
            <key>size</key>
            <string>{844,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3c047f31eff893e02c881817a9e8e7e:6c0fcb9a20365062330b2fb9d096cff4:a1c005c5c1cef0262ec56454ccaf41ae$</string>
            <key>textureFileName</key>
            <string>board.png</string>
        </dict>
    </dict>
</plist>
